<h1>id: <%= @message.id %> のメッセージ詳細ページ</h1>

<li>メッセージ           : <%= @message.content %></li>
<%= link_to '一覧に戻る', messages_path %>
<%= link_to 'このメッセージを編集する', edit_message_path(@message) %>
<!--method: :delete DELETE メソッドを送信することを明示-->
<!--data: { confirm: ... } JavaScript を使用-->
<!--リンクをクリックしたときに予告無しに削除するのではなく、アラートを表示させてユーザに削除していいか確認-->
<%= link_to 'このメッセージを削除する', @message, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>

